* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    padding: 20px;
}

.main-container {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: hidden;
}

.result-container {
    background: linear-gradient(
        to bottom,
        hsl(252, 100%, 67%),
        hsl(241, 81%, 54%)
    );
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 20px;
    border-radius: 0px 0px 30px 30px;
}

h1 {
    font-size: 1.6rem;
}

.result-container h2 {
    color: hsl(221, 100%, 96%);
    font-size: 1.2rem;
    font-weight: 500;
}

.result-no {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: linear-gradient(
        to bottom, 
        hsla(256, 72%, 46%, 1),
        hsla(241, 52%, 68%, 0)
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result-no .score {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
}

.result-no .total {
    font-size: 0.9rem;
    color: hsla(241, 100%, 89%, 0.7);
}

.result-container p {
    max-width: 255px;
    color: hsl(221, 100%, 96%);
    font-size: 0.95rem;
    font-weight: 400;
    text-align: center;
}

.summary-container {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    padding: 30px 25px;
    gap: 25px;
}


.summary-container h2 {
    color: hsl(224, 30%, 27%);
    font-size: 1.25rem;
}

.summary-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 16px 20px;
    font-size: 1rem;
    font-weight: 600;
}

.summary-name {
    display: flex;
    align-items: center;
    gap: 12px;
}

.summary-score {
    color: hsl(224, 30%, 60%);
}

.summary-score strong {
    color: hsl(225, 21%, 37%);
    font-size: 1rem;
}

.reaction { background-color: hsl(0, 100%, 67%, 0.2);}
.reaction span {color: hsl(0, 100%, 67%); }

.memory { background-color: hsl(39, 100%, 56%, 0.1);}
.memory span { color: hsl(39, 100%, 56%);}

.verbal { background-color: hsl(166, 100%, 37%, 0.1);}
.verbal span { color: hsl(166, 100%, 37%);}

.visual { background-color: hsl(234, 85%, 45%, 0.1);}
.visual span { color: hsl(234, 85%, 45%);}


button {
    height: 56px;
    border-radius: 999px;
    border: none;
    background-color: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: linear-gradient(
        to bottom,
        hsl(252, 100%, 67%),
        hsl(241, 81%, 54%)
    );
}

button:focus-variable {
    outline: 3px solid hsl(252, 100%, 67%);
    outline-offset: 3px;
}


@media(min-width: 700px) {

    .page {
        padding: 0;
    }

    .main-container {
        width: 720px;
        max-width: 90vw;
        display: flex;
        border-radius: 30px 30px 30px 30px;
    }

    .result-container {
        justify-content: flex-start;
        gap: 40px;
        flex: 1;
        border-radius: 30px;
        padding: 50px 45px;
    }

    .result-container p {
        max-width: 240px;
    }

    .summary-container {
        flex: 1;
        border-radius: 0px 30px 30px 0;
        padding: 40px 45px 45px;
    }
}