* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;
}

body {
    padding: 10px;
}

.main-container {
    /* border: 1px solid red; */

}

.result-container {
    background: linear-gradient(
        to bottom,
        hsl(252, 100%, 67%),
        hsl(241, 81%, 54%)
    );
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 20px;
    border-radius: 0px 0px 30px 30px;
}

h1 {
    font-size: 1.6rem;
}

.result-container h2 {
    color: hsl(221, 100%, 96%);
    font-size: 1rem;
}

.result-no {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: linear-gradient(
        to bottom, 
        hsla(256, 72%, 46%, 1),
        hsla(241, 52%, 68%, 0)
    );
    /* background-color: rgba(78, 33, 202, 0.5); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result-no .score {
    font-size: 3rem;
    font-weight: 800;
}

.result-no .total {
    font-size: 0.9rem;
    color: hsl(241, 100%, 89%);
}

.result-container p {
    width: 255px;
    color: hsl(221, 100%, 96%);
    font-size: 0.95rem;
    font-weight: 400;
}

.summary-container {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 20px;
    /* border: 1px solid black; */
    gap: 20px;
}


.summary-container h2 {
    color: hsl(224, 30%, 27%);
    font-size: 1.2rem;
}

.summary-list {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.bar {
    /* background-color: pink; */
    /* margin: 5px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 15px 15px;
    font-size: 1rem;
    font-weight: 600;
}

.summary-name {
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    gap: 10px;
}
.summary-score {
    /* border: 1px solid darkblue; */
}
.summary-score {
    color: rgb(118, 118, 118);
}

.summary-score strong {
    color: hsl(225, 24%, 29%);
    font-size: 1rem;
}
.reaction {
    background-color: hsl(0, 100%, 67%, 0.2);
}

.memory  {
    background-color: hsl(39, 100%, 56%, 0.1);
}

.verbal {
    background-color: hsl(166, 100%, 37%, 0.1);
}

.visual {
    background-color: hsl(234, 85%, 45%, 0.1);
}

.reaction span {
    color: hsl(0, 100%, 67%);
}

.memory span {
    color: hsl(39, 100%, 56%);
}

.verbal span {
    color: hsl(166, 100%, 37%);
}

.visual  {
    color: hsl(234, 85%, 45%);
}

button {
    height: 50px;
    /* padding: 10px 20px; */
    border-radius: 25px;
    border: none; 
    background-color: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    font-weight: 500;
}

button:hover {
    background: linear-gradient(
        to right,
        hsl(252, 100%, 67%)),
        hsl(241, 81%, 54%);
}

